* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Forma completa
  background-image: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*Forma reduzida --> atalho*/
  background: url(./assets/bg-desktop.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container {
  width: 588px;
  height: 712px;
  border: 2px solid red;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*links*/

ul {
  list-style: none;
}

ul li a {
  border: 2px solid orchid;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
}
